.button {
    -fx-background-color: transparent;

   -fx-font-size:17;
}
.button:hover{
    -fx-text-fill:#4392CF;
}
#add{
   -fx-background-color: #56A2EC;
    -fx-text-fill: white;
    -fx-font-family: "Poppins";
}